/*
??add media query to make mobile responsive-change forgot to stay
    XXborder off of sign in button
    XXpadding under email and password to sit closer to line
??orignal background is white & the blue background is a box 
*/

body{
    background-color: #DCEAF0;
}

h1{
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 40px 0px 0px 0px;
}

h4{
    color: #7A7376;
    font-style: italic;
    margin: 5px 0px 20px 0px;
}

form{
    /*move this to the center of the blue box*/
    background-color: white;
    position: absolute;
    padding: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -5px 20px 60px 5px #C8C4C2;
    box-sizing: border-box;
}

button{
    width: 300px;
    height: 60px;
    background-color: #3598Db;
    color: white;
    font-size: large;
    font-weight: bold;
    border: 0;
    margin: 40px 0px 10px;
}
a{
    color: #7A7376;
    text-decoration: none;
    font-size: large;   
}
a:hover{
    text-decoration: underline;
    color:#93ACD2;
}
input{
    color: #7A7376;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    padding: 0px;
    margin: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

input:focus {
    outline: 0;
}

.underline{
    margin: 20px;
    border-bottom: 2px solid grey;
    width: 100%;
}

#align{
    position: absolute;
    right: 50px;
}

.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*@media screen and (max-width: 814px) {
    button{
    
    }   
} */

/*.whitebox{
    min-height: 100vh;
    min-width: 100vw;
    width: 100%;
    position: fixed;
}*/

/*adjust blue box to be fixed in the center & have curved corners to be smaller?*/

/*.bluebox{
    background-color: #DCEAF0;
    border: solid 2px black;
    min-height: 90vh;
    min-width: 90vw;
    position: fixed;
    top:10;
    bottom: 10;
    left: 10;
    right: 10;
}*/